# Retail Shopping Assistant local run config

# api | local_nim
NIM_RUN_MODE=api

# Required for api mode (can use either)
NVIDIA_API_KEY=
NGC_API_KEY=

# Used by compose in api mode
CONFIG_OVERRIDE=config-build.yaml
HTTP_HOST_PORT=3000
CHAIN_SERVER_PORT=8009
CATALOG_RETRIEVER_PORT=8010
MEMORY_RETRIEVER_PORT=8011
GUARDRAILS_PORT=8012
MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
ETCD_PORT=2379

# Used by local_nim mode
LOCAL_NIM_CACHE=~/.cache/nim
